
.container {
    color: hsl(207, 9%, 79%);
    padding: 20px 40px;
    background-color: rgba(12, 12, 12, 0.75);
    display: flex;
    flex-direction: row-reverse;
    max-width: 780px;
    font-size: 16px;
    margin-top: 20%;
    @media only screen and (max-width: 620px) {
        flex-direction: column;
    }
}

.input {
    outline: none;
    color: hsl(180, 24%, 16%);
    margin: 3px 0px 20px 0px;
    padding: 7px;
    border: 2px white solid;
    border-bottom: 2px rgba(0, 112, 186, .4) solid;
    border-bottom-width: 90%;

    &Jasennumero {
        max-width: 100px;
    }
}

.invalidInput:focus {
    border-bottom: 2px rgb(252, 97, 97) solid;
}

.validInput:focus {
    border-bottom: 2px rgb(125, 247, 125) solid;
}

.passwdHelp {
    font-size: 12px;
    line-height: 1;
    margin-top: -10px;
    a {
        color: inherit;
    }
}

.label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 300px;
    margin-right: 50px;
    @media only screen and (max-width: 620px) {
        margin-right: 0px;
        margin-top: 20px;
        max-width: 360px;
    }
}

.button {
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(0, 112, 186);
    padding: 12px 7px;
    cursor: pointer;
    text-align: center;
    margin: 10px 0px;
    border: 2px rgb(0, 112, 186) solid;
}

.button:focus {
    border: 2px white solid;
}

.button:disabled {
    background-color: rgb(107, 133, 151);
    cursor: not-allowed;
}

.buttonText {
    color: white;
    text-transform: uppercase;
}
