

.container {
    margin-top: 4rem;
    padding: 20px 40px;
    background-color: rgba(12, 12, 12, 0.75);
    color: hsl(207, 9%, 79%);
}

.linkButton {

    margin: 4rem auto 1rem auto;
    padding: 20px 40px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: rgba(12, 12, 12, 1);
    color: hsl(207, 9%, 79%);
    border: none;
    box-shadow: 0px 0px 20px -10px rgba(223,234,235,0.75);

    font-size: 1.6rem;

    a {
        text-decoration: none;
        color: inherit;
    }
}