
.container {
    background-color: rgba(12, 12, 12, 0.75);
    color: hsl(207, 9%, 79%);
    padding: 20px 40px;
    max-width: 460px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20%;
}

.passwdHelp {
    font-size: 12px;
    line-height: 1;
    a {
        color: inherit;
    }
}

.input {
    outline: none;
    color: hsl(180, 24%, 16%);
    margin: 3px 0px 20px 0px;
    padding: 7px;
    border: 2px white solid;
    border-bottom: 2px rgba(0, 112, 186, .4) solid;
    border-bottom-width: 90%;
}

.formContainer {
    display: flex;
    flex-direction: column;
 }

.button {
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(0, 112, 186);
    padding: 12px 7px;
    cursor: pointer;
    text-align: center;
    margin: 10px 0px;
    border: 2px rgb(0, 112, 186) solid;
}

.button:focus {
    border: 2px white solid;
}

.button:disabled {
    background-color: rgb(107, 133, 151);
    cursor: not-allowed;
}

.buttonText {
    color: hsl(207, 9%, 79%);
    text-transform: uppercase;
}
