
.container {
    background-color: rgba(12, 12, 12, 0.75);
    color: hsl(207, 9%, 79%);
    padding: 20px 40px;
    display: flex;
    flex-direction: row-reverse;
    max-width: 780px;
    font-size: 16px;
    margin-top: 20%;
    @media only screen and (max-width: 580px) {
        flex-direction: column;
    }
}

.input {
    outline: none;
    color: hsl(180, 24%, 16%);
    margin: 3px 0px 20px 0px;
    padding: 7px;
    border: 2px white solid;
    border-bottom: 2px rgba(0, 112, 186, .4) solid;
    border-bottom-width: 90%;
}

.invalidInput:focus {
    border-bottom: 2px rgb(252, 97, 97) solid;
}

.validInput:focus {
    border-bottom: 2px rgb(125, 247, 125) solid;
}

.passwdHelp {
    font-size: 12px;
    line-height: 1;
    margin-top: -10px;
    a {
        color: inherit;
    }
}

.label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formContainer {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    @media only screen and (max-width: 580px) {
        margin-right: 0px;
        margin-top: 20px;
        max-width: 400px;
    }
}

.button {
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(0, 112, 186);
    padding: 12px 7px;
    cursor: pointer;
    text-align: center;
    margin: 10px 0px;
    border: 2px rgb(0, 112, 186) solid;

    &Minor {
        max-width: 60%;
        padding: 6px 7px;
        background-color: rgba(0, 112, 186, .2);
        border: none;
    }
}

.button:disabled {
    background-color: rgb(107, 133, 151);
    cursor: not-allowed;
}

.button:focus {
    border: 2px white solid;
}

.buttonText {
    color: white;
    text-transform: uppercase;
}
